<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> KB</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,400,400i,700,700i" rel="stylesheet">
</head>
<body>
    <div class="application">
        <div class="application__header">
            KB
        </div>
        <div class="application__body">
            @RenderBody()
        </div>
    </div>

    <script type="text/javascript" src="~/dist/bundle.js" asp-append-version="true"></script>
</body>
</html>
