body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.application {
    height:100vh;
    min-height:100vh;
    max-height:100vh;
}

.application__header {
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    padding: 5px;
    font-size: 20px;
    line-height: 18px;
    color:white;
    background: #1488CC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.application__body {
    height: calc(100vh - 30px);
    min-height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
}

.choiches  {
    width: 50vw;
    margin: 10vh auto;
    text-align: center;
}
    .choiches h3 {
        font-weight: 100 !important;
    }

    .choiches__choiche {
        width: 50%;
        float: left;
    }

.choiches__choiche input {
    height: 30px;
    font-size:16px;
    padding:5px;
}

.choiches__submit {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   will-change: '';
    -webkit-tap-highlight-color: transparent;
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.sidebar__subItem {
    display:none;
    padding-left:15px;
}

.sidebar__subItem--open {
    display:block;
}

.application__sidebar {
    width: 30%;
    float: left;
    display: block;
    max-width: 30%;
    padding: 10px;
    height: calc(100vh - 30px);
    min-height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
    overflow: auto;
}

.application__mainBody {
    width: calc(100vw - 30%);
    float: left;
    height: calc(100vh - 30px);
    min-height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
    overflow:auto;
}

.sidebar__link {
    cursor:pointer;
}

.sidebar__link--current {
    font-weight:bold;
}

.page {
    height: calc(100vh - 30px);
    min-height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
}

img {
    max-width: 100%;
    margin: 20px auto;
    display: block;
    text-align: center;
    padding: 10px 0;
}


table {
    margin: 20px auto;
}

thead {
    font-weight: bold;
    border-bottom: 2px solid black;
}

td, th {
    min-width: 150px;
    padding: 5px;
    word-break: break-all;
}

blockquote {
    border-left: none;
    text-align: center;
}


/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #F0F0F0;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
    color: #444;
}

.hljs-comment {
    color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
    font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #880000;
}

.hljs-title,
.hljs-section {
    color: #880000;
    font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
    color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
    color: #1f7199;
}

.hljs-meta-string {
    color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}