body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.application {
    height:100vh;
    min-height:100vh;
    max-height:100vh;
}

.application__header {
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    padding: 5px;
    font-size: 20px;
    line-height: 18px;
    color: white;
    background-color: #3f51b5;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.application__body {
    height: calc(100vh - 30px);
    min-height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
}

.choiches  {
    width: 50vw;
    margin: 10vh auto;
    text-align: center;
}
    .choiches h3 {
        font-weight: 100 !important;
    }

    .choiches__choiche {
        width: 50%;
        float: left;
    }

.choiches__choiche input {
    height: 30px;
    font-size:16px;
    padding:5px;
}

.choiches__submit {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   will-change: '';
    -webkit-tap-highlight-color: transparent;
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.sidebar__subItem {
    display:none;
    padding-left:15px;
}

.sidebar__subItem--open {
    display:block;
}

.application__body > div > div {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 280px 1fr;
}

.application__sidebar {
    display: block;
    padding: 10px;
    height: calc(100vh - 30px);
    min-height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
    overflow:visible;
}

.application__mainBody {
    height: calc(100vh - 30px);
    min-height: calc(100vh - 30px);
    max-height: calc(100vh - 30px);
    overflow:auto;
}

.sidebar__link {
    cursor: pointer;
    padding: 2px;
    border-left: 2px solid #3f51b5;
    padding-left: 4px;
    margin-bottom: 1px;
    margin-top: 1px;
}

    .sidebar__link:hover {
        background-color: rgba(34,36,38,.15);
    }

    .sidebar__subItem  .sidebar__link {
        border-left:none;
        margin-bottom:0;
        margin-top:0;
    }

.sidebar__link--current {
    font-weight:bold;
}

.page {
    height: calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    width: calc(100% - 220px);
}

.page--edit {
    width:100%;
}

img {
    max-width: 100%;
    margin: 20px auto;
    display: block;
    text-align: center;
    padding: 10px 0;
}


table {
    margin: 20px auto;
}

thead {
    font-weight: bold;
    border-bottom: 2px solid black;
}

td, th {
    min-width: 150px;
    padding: 5px;
    word-break: break-all;
}

blockquote {
    border-left: none;
    text-align: center;
}


/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #F0F0F0;
}


/* Base color: saturation 0; */

.hljs,
.hljs-subst {
    color: #444;
}

.hljs-comment {
    color: #888888;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
    font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #880000;
}

.hljs-title,
.hljs-section {
    color: #880000;
    font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #BC6060;
}


/* Language color: hue: 90; */

.hljs-literal {
    color: #78A960;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #397300;
}


/* Meta color: hue: 200 */

.hljs-meta {
    color: #1f7199;
}

.hljs-meta-string {
    color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.sidebar_menu {
    display: inline-block;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    width: 140px;
    border: 1px solid #ccc;
    z-index:10;
}

.sidebar__item {
    position:relative;
}

.sidebar__link {
    display:inline-block;
    position:relative;
}

.sidebar__menu__item {
    cursor:pointer;
    padding:5px;
    font-weight:normal;
}

.sidebar__menu__item:hover {
    background-color:rgba(34,36,38,.15);
}

.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color:rgba(33,37,41,0.2)
}

.dialog__body {
    width: 500px;
    padding: 20px;
    background-color: white;
    margin: 20vh auto;
    border-radius: 2px;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    height:110px;
}

    .dialog__body input {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }

    .dialog__body .button__undo {
        float: left;
    }

.button__undo {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    background-color: rgba(158,158,158,.4);
}

.button__confirm {
    float: right;
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    background: #3f51b5;
    color: #fff;
}

.page__index {
    float: right;
    position: fixed;
    top: 30px;
    right: 20px;
    display: block;
    width: 200px;
    background-color: white;
    border-radius: 2px;
    background-clip: padding-box;
    padding: 5px;
    cursor: pointer;
    z-index: 50;
    transition:0.25s all ease-in-out;
}


    .page__index > div {
        margin-bottom: 5px;
        border-left: 2px solid #3f51b5;
        padding-left: 4px;
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .page__index > div:hover {
        background-color:rgba(229, 229, 229, 0.81);
        user-select:none;
    }

.react-monaco-editor-container {
    height: calc(100% - 60px) !important;
}